.navbar {
    margin-bottom: 30px;
}
  
.jumbotron {
    background-color: rgb(216, 221, 225);
    padding: 2rem 1rem;
    margin-bottom: 30px;
    border-radius: 0.3rem;
}
  
.jumbotron .btn {
    margin-top: 20px;
}

.card {
    width: 100%; 
    height: 27rem;
    margin: 0 auto;
}
  
.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeticas{
    margin-bottom: 3rem;
}

.card-img-top {
    width: 100%;
    height: auto;
    min-height: 13rem; 
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tamaño-img {
    width: 100%;
    height: auto;
    overflow: hidden; 
}