
.navbar {
    margin-bottom: 30px;
}
  
.jumbotron {
    background-color: rgb(216, 221, 225);
    padding: 2rem 1rem;
    margin-bottom: 30px;
    border-radius: 0.3rem;
}
  
.jumbotron .btn {
    margin-top: 20px;
}
  
.card-deck .card {
    margin-bottom: 30px;
}
  
.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-body {
    text-align: center;
}